<section class='container'>
  <div class="columns">
    <div class="column is-8 is-offset-2">
      <h1>New Article</h1>

      <%= render 'form', article: @article %>

      <%= link_to 'Back', dashboard_path %>
    </div>
  </div>
</section>
