<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @account.active %>
</p>

<%= link_to 'Back', directory_index_path %>
