    <section class="container">
      <div class="columns is-multiline">
        <div class="column is-6 is-offset-3 register">
          <div class="columns">
            <div class="column right has-text-centered">
              <h1 class="title is-4">Log In</h1>
              <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit</p>
                <%= render "form" %>
            </div>
          </div>
        </div>
        <div class="column is-8 is-offset-2">
          <br>
          <nav class="level">
            <div class="level-left">
              <div class="level-item">
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-facebook"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-instagram"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span> &emsp;
                <span class="icon">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="level-right">
              <small class="level-item" style="color: var(--textLight)">
                &copy; Amazon Health Directory. All Rights Reserved.
              </small>
            </div>
          </nav>
        </div>
      </div>
    </section>